@import 'tailwindcss';

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary 컬러 팔레트 */
  --black: #111111;
  --primary-600: #00420b;
  --primary-300: #007e1f;
  --primary-90: #00ad38;
  --primary-60: #71d193;
  --primary-40: #9cdfb9;
  --primary-30: #b4e6ce;
  --primary-20: #e1f5ec;
  --white: #ffffff;

  /* gray 컬러 팔레트 */
  --gray-20: #c7d6cc;
  --gray-50: #869f8e;
  --gray-70: #515f55;
  --gray-80: #334339;

  --gray-blue-20: #bec7d6;
  --gray-blue-50: #7a808a;
  --gray-blue-70: #3e4147;

  /* Secondary 컬러 팔레트 */
  --secondary1: #9fc2ff;
  --secondary2: #e1dc53;
  --secondary3: #f06f18;
  --secondary4: #5786da;
}

/* 다크 모드 비활성화 - 라이트 모드 고정 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --font-PThin: Pretendard-Thin;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-point: #0077ff;
  --color-sublight: #daebff;
  --color-semilight: #bedcff;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--point);
  font-family: Pretendard;
}
